{
    "parser": "@typescript-eslint/parser",
    "extends": ["plugin:@typescript-eslint/recommended"],
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module"
    },
    "rules": {
        // Добавьте следующее правило для автоматического исправления отступов при сохранении
        "indent": ["error", 2],
        "semi": ["error", "always"]
    },
    "overrides": [
        {
            "files": ["*.ts"]
        }
    ]
}